/* チュートリアル削除 */
div.card_card-container_3_Sbc {
    display: none;
}

/* 以下はhtmlにcolorクラスがないときのみ適用 */

/* CSSを勉強してる人でこのソースを見ている人へ (セレクターを一通り学んでいる人対象)
CSSにネストの機能が追加されたので、実は以下の部分はより見やすく書けます。(`html:not(.color)`をまとめることができる)
最新バージョンのブラウザならほとんど使えるはずです。今後CSSを書くときは参考にしてみてください。
参考: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_nesting/Using_CSS_nesting */

/* グレースケール */
html:not(.color) {
    filter: grayscale(1);
}

/* ヘッダーの要素を削除 ロゴ画像は表示するが押せなくする */
html:not(.color) div.gui_menu-bar-position_3U1T0 div {
    display: none;
}
html:not(.color) div.gui_menu-bar-position_3U1T0 div:has(img#logo_img) {
    display: flex;
}
html:not(.color) img#logo_img{
    pointer-events: none;
}

/* コスチュームタブ・音声タブ消去 */
html:not(.color) li#react-tabs-2,
html:not(.color) li#react-tabs-4 {
    display: none;
}

/* 拡張機能ボタン削除 合わせてメニューバーを縦最大に */
html:not(.color) div.gui_extension-button-container_b4rCs {
    display: none;
}
html:not(.color) div.blocklyToolboxDiv {
    height: 100% !important;
}

/* フィールド上のクリック、ドラッグ禁止 */
html:not(.color) .stage-wrapper_stage-canvas-wrapper_3ewmd {
    pointer-events: none;
}

/* スプライトメニュー変更禁止 入力欄の背景色も灰色にする */
html:not(.color) .sprite-info_sprite-info_3EyZh {
    pointer-events: none;
}
html:not(.color) .sprite-info_sprite-info_3EyZh input{
    background-color: rgba(128,128,128,0.2)
}

/* スプライトメニュー一部消去 */
html:not(.color) .sprite-info_row_1om5V:not(.sprite-info_row-primary_10JrS) {
    display: none;
}

/* 背景選択部分・スプライト追加ボタン・スプライト削除ボタン・スプライト右クリックメニュー 削除 */
html:not(.color) div.target-pane_stage-selector-wrapper_qekSW,
html:not(.color) div.sprite-selector_add-button_1XCwG,
html:not(.color) div[class*="sprite-selector-item_delete-button_"],
html:not(.color) nav[role="menu"] {
    display: none;
}

/* 定義ブロックを隠す */
html:not(.color) g[data-shapes~="c-block"]:not([data-category]){
    scale:0;
}

/* 色選択 明るさ以外削除 */
html:not(.color) .blocklyDropDownContent div.scratchColourPickerLabel:nth-child(-2n+3),
html:not(.color) .blocklyDropDownContent div.scratchColourPickerLabel:nth-child(-2n+3) + .goog-slider-horizontal{
    display: none;
}

/* 全消去メニュー削除 */
/* 指定ミスによりコメントアウト 要修正! */
/* html:not(.color) .blocklyContextMenu .goog-menuitem:nth-child(2n+3){
    display: none;
} */